/*
*
*  Four-column grid active
*  ----------------------------------------
*  Margin   | #  1   2   3   4   |   Margin
*  5.55555% | %  25  50  75  100 | 5.55555%
*
*/

.post {
	margin: #{$line/$em}em $column;
}

.box {
  margin-top: #{($line/2)/$em}em;
  margin-bottom: #{($line/2)/$em}em;
}

#main {
  margin-top: #{$line*2/$em}em;
}

h1, h2 {
	margin: (24/26*1em) 0 (36/26*1em);
}

h2 {
	font-weight: normal;
}

h3 {
	margin: #{24/$em}em 0 #{24/$em}em;
}

/*
*  Simple elastic gutters
*  Note: box-sizing will not work in IE6-7
*/

.wrapper {
	padding: 0 #{($line/2)/$em}em;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
			box-sizing: border-box;
}

.content {

  .inner {
    font-family: 'Droid Serif', serif;

    h1, h2 {
      font-family: 'Droid Sans', sans-serif;
    }
  }

  .wrapper {
    padding: 0 #{$line/$em}em;
  }
}


/*
*
*  Fixes for IE6-8
*  http://jonikorpi.com/leaving-old-IE-behind/
*
*/

.ie body {
	width: #{640/$em}em;
	margin: 0 auto;
	font-size: #{($font-size + 1) / $em}em;
}
