
//
// Important numbers
//

$line: 24;
$column: 100% / 18;
$font-size: 16;
$em: $font-size * 1;

$default-radius: 6px;

//
// Colors
//
$white: #ffffff;
$coral: #e34536;
$sky: #4aa0f0;
$leaf: #61cf42;
$happy: #f1ef37;
$cream: #ed934a;
$dirt: #54341a;
$brown1: #6e5643;
$brown1-shade1: #544233;
$brown1-shade2: #7a604b;
$brown1-shade3: #ba9272;
$brown1-shade4: #fac498;
$brown1-dark: #2a1a0d;
$brown2: #a17e62;
$brown3: #a16432;
$brown4: #ed934a;
$blue1: #445b70;
$blue2: #94c5f2;
$blue3: #234b70;
$blue4: #3a7ebd;
$green1: #384f31;
$green2: #97d785;
$green3: #254f19;
$green4: #499c32;
$red1: #633a35;
$red2: #e8867c;
$red3: #631e18;
$red4: #631e18;
$tan1: #6e5643;
$tan2: #f0bd93;
$tan3: #6e4422;
$tan4: #ba733a;
