
//
// Important numbers
//

$line: 24;
$column: 100% / 18;
$font-size: 16;
$em: $font-size * 1;

$default-radius: 6px;

// 
// Colors
//

$white: #fff;
$coral: #e34536;
$happy: #f1ef37;
$dirt: #54341a;
$brown1-dark: #2a1a0d;
$brown1-shade3: #ba9272;
$brown3: #a16432;
$red2: #e8867c;
