body {
  background-color: $brown3;
  color: $brown1-dark;
}

header[role="banner"] {
  background: $brown1-dark url('/img/darkleather.jpg');
  margin: 0;
  @include single-box-shadow(#000, 0, 0, 10px);

  h1 {
    margin: 6px $column;
  }
}

.geungle-beat {
  background: transparent left center no-repeat url('/img/geungle_beat_logo.png');
}
