<article class="group">

  <div class="">
    <header>
      <h1 class=""><%= @item[:title] %></h1>
      <small class="">
        Written <time datetime="<%= @item[:created_at] %>" pubdate><%= @item[:created_at].strftime("%B %d, %Y") %></time> 
        by 
        <%= link_for_author( @item[:author_name], "/authors/") %>
      </small>
    </header>

    <div class="post">
      <%= yield %>
    </div>

    <%= render "comments" %>

  </div>

  <aside class="">

    <h2 class="visuallyhidden">Meta</h2>

    <section>

      <h3>The Author</h3>

      <% 
        author_name = @item[:author_name].to_slug
        author = @items.find { |i| i.identifier == '/authors/' + author_name + '/' } 
      %>

      <figure id="author">
        <img class="photo" src="/img/<%= author[:name].to_slug %>.jpg" alt="Photo of <%= author[:name] %>" />
        <figcaption class="">
          <div class=""><%= author[:name] %></div>
          <div><%= author[:title] %></div>
        </figcaption>
      </figure>
    
    </section>

    <section class="">

      <div class="">
        <h3 class="">Share</h3>
        
        <div class="group" id="share" data-url="<%= shorten(url_for(@item)) %>" data-title="share" data-text="<%= @item[:title] %>"></div>
        
      </div>

    </section>

    <nav class="">
      <h3 class="">Tags</h3>

      <ul class="">
        <% [*@item[:tags]].each do |tag| %>
        <li><%= link_for_tag(tag, "/tags/") %></li>
        <% end %>
      </ul>
    </nav>

    <div class="">

      <a rel="bookmark" title="Permanent link to this article" href="<%= url_for(@item) %>">Permanent link</a> to this article

    </div>

  </aside>

</article>
