<footer class="group blogmeta meta">

  <div class="wrapper">
    <div class="box clarity basic group wrapper">
      <nav class="">
        <h2 class="">Authors</h2>
        
        <ul>
        <% authors(publishing_articles).each do |author| %>
          <li><%= link_for_author(author, "/authors/") %></li>
        <% end %>
        </ul>
      </nav>
    </div>

    <nav class="box clarity basic group wrapper">
      <h2 class="">Tags A-Z</h2>

      <div class="group">
        <ul class="">
        <% tag_set(publishing_articles).sort.each do |tag| %>
          <li><%= link_for_tagcloud(tag, "/tags/") %></li> 
        <% end %>
        </ul>
      </div>
    </nav>

    <div class="box clarity basic group wrapper">
      <nav class="">
        <h2 class="">Archives</h2>

        <ul>
          <li><%= link_to 'Recent Articles', '/blog/' %></li>
        <% archive_years(publishing_articles).sort.reverse.each do |year| %>
          <li><%= link_for_archive(year, "/blog/") %></li>
        <% end %>
        </ul>
      </nav>
    </div>
  </div>

</footer>

